
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Josefin+Sans:wght@200&family=Poppins:wght@500;700&family=Roboto&display=swap');
/*
font-family: 'Amatic SC', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* Basic styling */
* { 
    box-sizing: border-box; padding: 0; margin: 0;
} 
header{
    position: fixed; top: 0; left: 0; width: 100%; justify-content: space-around; transition: 0.7s; z-index: 10; opacity: 0.5; 
}
body { 
    font-family: sans-serif; display: flex; flex-direction: column; min-height: 100vh;
} 
nav { 
    background: #222; padding: 5px 20px; 
} 
ul { 
    list-style-type: none; 
} 
a {
    color: white; text-decoration: none; 
} 
a:hover { 
    text-decoration: none; color: grey; 
} 
.logo a:hover {
    text-decoration: none; 
} 
.menu li {
    font-size: 16px; padding: 15px 5px; white-space: nowrap; 
} 
.logo a, .toggle a { 
    font-size: 20px;
} 
.button.secondary { 
    border-bottom: 1px #222 solid; background-color:#006d6d; text-align: center; 
}
p{
    justify-content: center; align-items: center;
}

footer{
    background-color:#222;
    padding: 1em 0;
    margin-top: auto;
    height: 500px;
    color: #fff;

}

/* Mobile menu */ 
.menu { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; } 
.toggle { order: 1; } 
.item.button { order: 2; } 
.item { width: 100%; text-align: center; order: 3; display: none; } 
.item.active { display: block; }
.btn1:hover {
    background-position: right;
    color: black;
    font-weight: 700;
}
.btn1 {

    font-size: 16px;
    border: 2px solid #ff8b07;
    color: white;
    cursor: pointer; 
    background: linear-gradient(to right, transparent 50%, #ff8b07 50%);
    background-size: 200%;
    background-position: left;
    transition: background-position 0.5s;
}

.btn2 {
    width: 200px;
    padding: 15px 25px;
    margin: 20px;
    font-size: 16px;
    outline: none;
    border: 2px solid #dadd18;
    color: rgb(223, 255, 148);
    cursor: pointer;
    background: linear-gradient(to right,  #dadd18 50%, transparent 50%);
    background-size: 200%;
    background-position: right;
    transition: background-position 0.5s;
    position: absolute;
    text-align: center;
    
    
    
}

.btn2:hover {
    background-position: left;
    color: black;
    font-weight: 700;
}

/* Tablet menu */ 
@media all and (min-width: 600px) { 
    .menu { justify-content: center; } 
    .logo { flex: 1; } 
    .toggle { flex: 1; text-align: right; } 
    .item.button { width: auto; order: 1; display: block; } 
    .toggle { order: 2; } .button.secondary { border: 0; } 
    .button a { padding: 7.5px 15px; background: teal; border: 1px #006d6d solid; } 
    .button.secondary a { background: transparent; } 
    .button a:hover { text-decoration: none; } 
    .button:not(.secondary) 
    a:hover { background: #006d6d; border-color: #005959; } 
    .button.secondary a:hover { color: #ddd; } }
    .btn1:hover {
        background-position: right;
        color: black;
        font-weight: 700;
    }
    .btn1 {
   
        font-size: 16px;
        border: 2px solid #ff8b07;
        color: white;
        cursor: pointer; 
        background: linear-gradient(to right, transparent 50%, #ff8b07 50%);
        background-size: 200%;
        background-position: left;
        transition: background-position 0.5s;
    }

    .btn2 {
        width: 200px;
        padding: 15px 25px;
        margin: 20px;
        font-size: 16px;
        outline: none;
        border: 2px solid #dadd18;
        color: rgb(223, 255, 148);
        cursor: pointer;
        background: linear-gradient(to right,  #dadd18 50%, transparent 50%);
        background-size: 200%;
        background-position: right;
        transition: background-position 0.5s;
        position: absolute
        
    }
    
    .btn2:hover {
        background-position: left;
        color: black;
        font-weight: 700;
    }
    



/* Desktop menu */ 
@media all and (min-width: 900px) { 
    .item { display: block; width: auto; } 
    .toggle { display: none; } 
    .logo { order: 0; } 
    .item { order: 1; } 
    .button { order: 2; } 
    .menu li { padding: 15px 10px; } 
    .menu li.button { padding-right: 0; } }


/* Icono whatsapp*/

.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 3);
    z-index: 100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    text-decoration: none;
    color: #0df053;
    background: #fff;
}


@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}

/* Mapa Google*/

iframe{
    position: absolute;
}
.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px; 
  }




.zona2{
    margin-top: 100px;
    margin-left: 100px;
    position: relative;
    width:auto;
    height: auto;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Josefin Sans', sans-serif
    

}
.nosotros{
    
    margin-left: 100px;
    position: relative;
    width:300px;            /*Ver modificacion*/
    height: auto;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Josefin Sans', sans-serif
}

.btn1 {
   
    font-size: 16px;
    border: 2px solid #ff8b07;
    color: white;
    cursor: pointer; 
    background: linear-gradient(to right, transparent 50%, #ff8b07 50%);
    background-size: 200%;
    background-position: left;
    transition: background-position 0.5s;
}

.btn1:hover {
    background-position: right;
    color: black;
    font-weight: 700;
}


.btn2 {
    width: 200px;
    padding: 15px 25px;
    margin: 20px;
    font-size: 16px;
    outline: none;
    border: 2px solid #dadd18;
    color: rgb(223, 255, 148);
    cursor: pointer;
    background: linear-gradient(to right,  #dadd18 50%, transparent 50%);
    background-size: 200%;
    background-position: right;
    transition: background-position 0.5s;
    position: absolute
    
}

.btn2:hover {
    background-position: left;
    color: black;
    font-weight: 700;
}

.img2{
    background-attachment: fixed;
    position: relative;
    
    margin-top: 150px; 
    margin-left: 240px; 
    border-radius: 25%;
}



/*Estilos para el formulario de contacto*/

    .iframe{
        margin-left: 90px;
        margin-top: 20px;
    }



    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }
    .embed-container iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    





